body{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}
.sunpharma{
  position: absolute;
  right: 20px;
  top: 20px;
}
p{
  font-family:Calibri, sans-serif;
  color: #000;
  font-size: 22px;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-primary-ct{
  padding: 15px 0;
  text-align: center;
  width: 100%;
  color: #fff;
  border-radius: 25.5px;
  background: #f7941e;
  font-family: 'Lato-ExtraBold';
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
}

.copyright{
position: absolute;
  width: 320px;
  height: 16px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: 0.07px;
  text-align: left;
  color: #3c3c3c;
  }
  .copy-center{
  width: calc(100% - 112px);
  text-align: center;
}
.body-login{
  background: url('../../admin/images/loginbg.svg') #fefcfa;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-pg{
    max-width: 380px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dfe0eb;
    background: #fff;
    .text-center{
      img{
        margin-top: -20%;
      }
      h2{
        padding-bottom: 15px;
      }
    }

    .login-form{
      padding: 0 25px 40px;

      input{
        border-radius: 3px;
        border: solid 1px #f7941e;
        height: 50.8px;
        &::placeholder{
          opacity: 0.4;
          font-size: 14px;
          font-weight: 100;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: 0.3px;
          text-align: left;
          color: #4b506d;
        }
      }
      .fa-eye{
        &:before{
          /*color:#f7941e;*/
        }
      }
      .password-eye{
        align-items: center;
        position: relative;
        i{
          position: absolute;
          right: 10px;
        }
      }
    }

    .form-group{
      margin-top: 10px;
    }
    .btn-primary-ct{
      margin-top: 23px;
    }
  }

}



#wrapper {
  /*overflow-x: hidden;*/
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 104px;
  /*margin-left: -15rem;*/
  transition: margin 0.25s ease-out;
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.04);
  background: #fff;

  .sidebar-heading {
    height: 72px;
    text-align:center;
  }
  .list-group {
    /*width: 88px;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 72px);
  box-shadow: inset 0 4px 10px 3px rgb(0 0 0 / 4%);
  background: #fff;
      ul{
        margin: 0;
        padding: 0;
        li{

        }
      }
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-size: 13px;
      font-weight: 400;
      text-align: left;
      color: #000;
      }
  }
  ul{
    li{
      padding:25px 0;
      border-bottom: solid 1px rgba(167, 169, 172, 0.35);

      a{
      font-size: 13px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.6px;
      text-align: left;
      color: #000;
      }
    }
    .active{
      background: #fff0e5;
      border-right: solid 4px #f7941e;
    }
  }

}

#page-content-wrapper {
  width: 100%;
  background: #fffdfb;
  nav{
    height: 72px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  }
}

.level-list{
  li{
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &:first-child{
      &:after{
        content: '';
        border: solid #d1d1d1 1px;
        margin: 0 60px;
        height: 40px;
      }
    }
  }
}

.dashboard-nav{
  li{
    a{
      font-size: 24px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.6px;
      text-align: left;
      color: #383838;
      text-decoration: none;

    }
  }
}
.user-name{
  align-items: center;
  li{
    &:last-child{
      &:before{
        content: '';
        border: solid #ffd0ae 1px;
        margin: 0 20px;
        height: 25px;
      }
    }
  }
  h3,p{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: #a7a9ac;
    letter-spacing: -0.6px;
  }
  h3{
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #000;
  }
  p{
   font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #a7a9ac;
  }
  h4{
    background: #000;
    color: #fff;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    margin-left: 24px;
    font-size: 20px;
  }
}
.bradecram-menu{
  background: #58595b;
  height: 40px;
  display: flex;
  align-items: center;
  li{

    a{
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.6px;
      text-align: left;
      color: #fff;
      padding: 11px 30px;
      text-decoration: none;

    }
  }
}
.actions-dashboard{
  background: #fff;
  border-radius: 4px;
  border: solid 1px #e3e3e3;
  padding-left: 15px;
  padding-bottom: 30px;
  margin-top: 20px;
  h5{
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #383838;
    padding-top: 29px;
    padding-bottom: 20px;
  }
  h2{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.6px;
    text-align: left;
    color: #3a3a3a;
  }
  .ic-bg{
    background: #e8e8e8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
}